<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-header bg-gradient-primary text-center py-3 rounded-top" style="background: linear-gradient(45deg, #007bff, #0056b3);">
                    <h4 class="text-light fw-bold">Add New User</h4>
                </div>
                <div class="card-body p-3 bg-light rounded-bottom">
                    <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name" class="form-label fw-semibold">Name</label>
                            <input type="text" name="name" class="form-control form-control-md rounded shadow-sm" placeholder="Enter name" required/>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label fw-semibold">Email</label>
                            <input type="email" name="email" class="form-control form-control-md rounded shadow-sm" placeholder="Enter email" required/>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label fw-semibold">Phone</label>
                            <input type="tel" name="phone" class="form-control form-control-md rounded shadow-sm" placeholder="Enter phone" required/>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label fw-semibold">Select Image</label>
                            <input type="file" name="image" class="form-control form-control-md rounded shadow-sm" required/>
                        </div>
                        <div class="mb-2 d-grid">
                            <input type="submit" name="submit" value="Add User" class="btn btn-primary btn-md rounded shadow" style="background: linear-gradient(45deg, #007bff, #0056b3);"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

<%- include('layout/footer') %>